#wrapper {
  background-color: rgba(255, 252, 246, 0.85);
  padding: 20px;
  margin: 8% 0 10% 15%;
  font-family: palatino linotype;
  letter-spacing: 1.5px;
  width: 70%;
  color: #034488;
  text-indent: 25px;
  font-size: 20px;

  border: solid rgba(133, 133, 133, 0.2) 5px;
  border-radius: 25px;
  background-color: rgba(255, 252, 246, 0.85);
}
h2 {
  font-size: 25px;
  margin-bottom: 2%;
}

h1 {
  text-align: center;
  font-size: 30px;
}
