#main-header {
  text-shadow: #ccdde8 1px 1px 0, #ccdde8 2px 2px 0, #ccdde8 3px 3px 0,
    #ccdde8 4px 4px 0, #ccdde8 5px 5px 0;
  letter-spacing: 3px;
  text-align: center;
  font-size: 2em;
  color: #178fd6;
  margin: 5% 0;
  padding: 2% 5% 0 5%;
}

#About {
  border: solid rgba(133, 133, 133, 0.2) 5px;
  border-radius: 25px;
  background-color: rgba(255, 252, 246, 0.85);
  /* padding: 2% 5%; */
  padding: 2em 5%;
  margin: auto;
  font-family: palatino linotype;
  letter-spacing: 0.1em;
  width: 55%;
  color: #034488;
  text-indent: 2em;
  margin-bottom: 5%;
}

#wrapper p {
  text-align: justify;
  padding: 0.5em;
  font-size: 1.8em;
}

#wrapper h2 {
  text-align: center;
  margin-top: 0;
  font-size: 2.5rem;
}

.image-news {
  float: right;
  border: solid rgba(133, 133, 133, 0.2) 3px;
  border-radius: 5px;
  position: relative;
  top: -3em;
}

#news-and-events {
  border: solid rgba(133, 133, 133, 0.2) 5px;
  border-radius: 25px;
  background-color: rgba(255, 252, 246, 0.85);
  padding: 3em;
  margin: 5em auto;
  font-family: palatino linotype;
  letter-spacing: 0.1em;
  width: 80em;
  color: #034488;
}

.news-and-events-element h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.news-and-events-element {
  padding: 1em 2em;
  margin: 2em 1em;
  border-radius: 5px;
}

.news-and-events-element a {
  color: #178fd6;
}
.news-and-events-element a:hover {
  color: #ccdde8;
}

.news-and-events-element p {
  width: 27em;
}
