body {
  background-color: #fffcf6;
  background-image: url(../images/clipart.png);
  background-repeat: repeat;
  font: 12px arial black, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
#top-menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  background-color: #178fd6;
  font-size: 22px;
}
#menu * {
  margin: 0;
  padding: 0;
}

#top-menu li {
  display: block;
  margin: 1em 1em;
}

a {
  text-decoration: none;
}
.top-menu-element > a {
  color: #fffcf6;
}

#top-menu a {
  padding-bottom: 1em;
}

.top-menu-element > a:hover {
  color: #ccdde8;
}

.sub-menu-element > a:hover {
  color: #edece8;
}

.sub-menu-element a {
  color: white;
}

.sub-menu {
  position: absolute;
  top: 3em;
  left: 3em;
  background-color: #ccdde8;
  visibility: hidden;
  opacity: 0;
  transition: 0.55s opacity, 0.55s visibility;
  border-radius: 25px;
}

#top-menu li:hover > ul {
  visibility: visible;
  opacity: 1;
}
