#wrapper {
  border: solid rgba(133, 133, 133, 0.2) 5px;
  border-radius: 25px;
  background-color: rgba(255, 252, 246, 0.85);
  padding: 3em;
  margin: 5em auto;
  font-family: palatino linotype;
  letter-spacing: 0.1em;
  width: 80%;
  color: #034488;
  margin-top: 13em;
}

.col-lg-12 h2 {
  font-size: 2.7em;
  text-align: center;
  margin: 0 0 1em 0em;
}

.comment {
  font-size: 2em;
  border: solid rgba(133, 133, 133, 0.2) 2px;
  padding: 1em 2em;
  margin: 2em 1em;
  border-radius: 10px;
}

textarea {
  resize: none;
}

#comment-add {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  border: none;
  background: #178fd6;
  box-shadow: 0 -3px #034488 inset;
  transition: 0.2s;
}
#comment-add:hover {
  background: #034488;
}
#comment-add:active {
  background: #034488;
  box-shadow: 0 3px #034488;
}

.comment-form {
  font-size: 1.2rem;
}

.date {
  font-size: 0.9rem;
  margin-top: 0;
}
.name {
  margin: 0;
}

.body-comment {
  word-wrap: break-word;
}

#max-symbols {
  font-size: 0.6em;
  padding-top: 0;
  margin-top: 0;
}
